.container-logo {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin-top: 3rem;
    
    
}
 header .logo {
    
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    
    
}

.logo-img{
cursor: pointer;
width: 157px;
height: 38.453px;
}



img .banner{
 display: block;
 width: 100%;
}


 header{
    background-image: url(../img/event-venue-template-demo.png);
    background-size: cover;
      
}

.card-link {
        color: #000;
}

.banner-name {
    color: rgb(255, 255, 255);
    font-size: 62px;
    font-weight: 700; 
    min-width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    line-height: 1;
    font-family: poppins, sans-serif;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
   
    
}

.text-brand {
    color: #53f6c6;
    font-size: 62px;
    font-weight: 700; 
    min-width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    line-height: 1;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
   

}
.under-bannername {
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: grid;
    place-items: center;
}


.card-img-top1 { 
    display: block;
    
    margin: auto;
    max-width: 45px;
    max-height: 50px;
}

.btn btn-primary {
    background-color: #53f6c6;
}

#about {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-left: 3rem;
}
.inner-container-first-about{
    margin-top: 0.5rem ;
    margin-bottom:0.5rem ;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.inner-container-second-about {
    display: flex;
    justify-content: space-around;
}
halls-image {
    object-fit: cover;
    object-position: 41.34% 50%;
}


.::before {
    background-color: rgba(0,0,0,0.01);
}
 .card-title {
font-weight: bolder;
}

element.style {
   display: grid;
   grid-template-columns: 1fr, 1fr, 1fr;
   grid-gap: 50 px;
}

.around-card {
   
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#halls {
    margin-bottom: 2rem;
}