.container-logo {
    display: flex;
    justify-content: space-between;
}
 header .logo {
    
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.logo-img{
cursor: pointer;
width: 157px;
height: 38.453px;
}



img .banner{
 display: block;
 width: 100%;
}

.banner {
    background-image: url(../img/event-venue-template-demo.png);
    background-size: cover;
    
    
    
    
}

.banner-div {
   
}

.banner-name {
    color: rgb(255, 255, 255);
    font-size: 62px;
    font-weight: 700; 
    min-width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    line-height: 1;
    font-family: poppins, sans-serif;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
   
    
}

.text-brand {
    color: #53f6c6;
    font-size: 62px;
    font-weight: 700; 
    min-width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    line-height: 1;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
   

}
.under-bannername {
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: grid;
    place-items: center;
}

.card-img-top1 { max-width: 45px;
    max-height: 50px;

}
